:root {
    --header-background-color: #58e7c6;
    --button-background-color: rgba(150, 150, 150, 0.5);
    --button-background-hover: rgba(130, 130, 130, 0.8);
    --base-gray: #525252;
    --link-hover: #00ffc3;
    --button-color: #eaeaea;
    --media-background: #a7a7a7;
    --hover-link-anim: all 0.3s ease-in-out;
    --button-padding: 0px 1rem 0px 1rem;
    --border-style: 4px solid var(--link-hover);
}

body {
    height: 100vh;
}

/*-- NavBar --*/
header {
    display: grid;
    grid-template:
        "logo nulled navbar" max-content / max-content 1fr min-content;
    background-color: var(--header-background-color);
    border-bottom: var(--border-style);
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
}

a {
    text-decoration: none;
    width: min-content;
    height: min-content;
}

header>a {
    grid-area: menu-small;
    margin-right: 2rem;
}

header>a>i.material-symbols-outlined {
    color: var(--base-gray);
    display: none;
    height: min-content;
    font-size: 4rem;
    width: 0px;
}

header>img {
    grid-area: logo;
    height: 12rem;
    width: auto;
    padding-left: 2rem;
    margin: -1rem 0rem;
}

header>ul {
    grid-area: navbar;
    display: flex;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--base-gray);
    font-family: 'Pixelify Sans', sans-serif;
    width: min-content;
}

header>ul>li {
    padding: 1rem;
}

/*-- Image Gallery --*/
section.images {
    position: relative;
    width: 100%;
    height: 50%;
}

section.images>div.image-option {
    grid-area: image-text-fix;
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section.images>div.image-option>div.image-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

section.images>div.image-option>div.image-wrap>img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

section.images>div.shown-img {
    display: inline;
}

section.images>div.image-option>h4 {
    position: absolute;
    font-family: 'Share Tech Mono', monospace;
    padding: 0.75rem 1.25rem;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--button-color);
    background-color: var(--button-background-hover);
    font-size: 2rem;
    text-align: center;
    border: 2px solid var(--button-color);
    border-radius: 3rem;
    z-index: 9;
}

section.images>button {
    position: absolute;
    font-size: 10rem;
    line-height: 6rem;
    text-align: center;
    height: 100%;
    padding: var(--button-padding);
    background-color: var(--button-background-color);
    color: var(--button-color);
    transition: var(--hover-link-anim);
    z-index: 10;
}

section.images>button:hover {
    color: var(--link-hover);
    background-color: var(--button-background-hover);
}

button.left {
    left: 0px;
}

button.right {
    right: 0px;
}

section.images>form {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
}

section.images>form>input {
    accent-color: var(--header-background-color);
}

/*-- Media Card Gallery --*/
section.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    row-gap: 0.75rem;
    justify-items: center;
    background-image: linear-gradient(to bottom right, var(--media-background), var(--base-gray));
    padding: 1rem 0px;
    border-top: var(--border-style);
}

/*-- Footer --*/
footer {
    background-color: var(--base-gray);
    color: var(--button-color);
    height: 5rem;
    display: flex;
    align-items: center;
    border-top: var(--border-style);
}

footer>h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 2rem;
    font-family: 'Pixelify Sans', sans-serif;
}

/*-- Media Queries --*/
@media screen and (max-width: 550px) {
    header>ul {
        width: 0px;
        display: none;
    }

    header>a>i.material-symbols-outlined {
        min-width: min-content;
        display: inline;
    }

    header {
        grid-template:
            "logo nulled menu-small" max-content / max-content 1fr min-content;
    }


}